html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    will-change: opacity;
}

.fade-in.visible {
    opacity: 1;
}

.lazy-img {
    filter: blur(10px);
    transition: filter 0.5s ease;
}

.lazy-img.loaded {
    filter: blur(0);
}

.slide-left,
.slide-right,
.slide-up,
.slide-down,
.slide-up-right,
.zoom-in,
.rotate-right,
.rotate-left {
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    will-change: opacity, transform;
}

.slide-left {
    transform: translateX(-100px);
}

.slide-right {
    transform: translateX(100px);
}

.slide-up {
    transform: translateY(100px);
}

.slide-down {
    transform: translateY(-100px);
}

.slide-up-right {
    transform: translate(-200px, 200px);
}

.zoom-in {
    transform: scale(0);
}

.zoom-in.zoom {
    opacity: 1;
    transform: scale(1);
}

.rotate-right {
    transform: rotateZ(-180deg);
}

.rotate-left {
    transform: rotateZ(180deg);
}

.slide-left.move,
.slide-right.move,
.slide-up.move,
.slide-down.move,
.slide-up-right.move,
.rotate-right.start,
.rotate-left.start {
    opacity: 1;
    transform: none;
}

/* custom alert message */
.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50vw;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.445);
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
    backdrop-filter: blur(10px);
}

.custom-alert span {
    margin: 0 20px;
    flex: 1;
}

.custom-alert.hidden {
    display: none;
}

.custom-alert .alert-icon {
    color: red;
    font-size: 20px;
}

.custom-alert .close-btn {
    color: red;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
}