{% extends 'base.html' %}

{% block title %}Samiran's Portfolio{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock css %}

{% block js %}
<script defer src="{{ url_for('static', filename='index.js')}}"></script>
{% endblock js %}

{% block content %}
<div id="loader-wrapper">
    <div class="outermost-loader loader">
        <div class="outer-loader loader">
            <div class="inner-loader loader"></div>
        </div>
    </div>
</div>
<div id="main-website">
    <nav class="top-navbar">
        <div class="left-navbar">
            <h2>SAMI<span class="special-color">RAN</span></h2>
        </div>
        <div class="right-navbar">
            <a href="#home" class="nav-button special-color" style="--i:1"><i class="fa-solid fa-house"></i>Home</a>
            <a href="#about" class="nav-button" style="--i:2"><i class="fa-solid fa-user"></i>About</a>
            <a href="#education" class="nav-button" style="--i:3"><i
                    class="fa-solid fa-graduation-cap"></i>Education</a>
            <a href="#skills" class="nav-button" style="--i:4"><i class="fa-solid fa-cogs"></i>Skills</a>
            <a href="#projects" class="nav-button" style="--i:5"><i class="fa-solid fa-code"></i>Projects</a>
            <a href="#resume" class="nav-button" style="--i:6"><i class="fa-solid fa-file-lines"></i>Resume</a>
            <a href="#contact" class="nav-button" style="--i:7"><i class="fa-solid fa-phone"></i>Contact</a>
        </div>
        <div class="menu-button">
            <i class="menu-icon fa-solid fa-bars"></i>
        </div>
        <div class="scroll-up">
            <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
        </div>
    </nav>

    <div class="background-animation">
        <div class="home-section nav-section" id="home">
            <video autoplay muted loop class="background-video">
                <source src="{{ url_for('static', filename='images/background_video.mp4') }}" type="video/mp4">
            </video>
        </div>

        <div class="profile-pic fade-in">
            <img src="{{ url_for('static', filename='images/my_pic.jpg')}}" alt="logo" loading="lazy">
        </div>
        <img class="background-logo" src="{{url_for('static', filename='images/logo.png')}}" alt="my logo">
        <div class="top-corner-circle"></div>

        <div class="profile-container">
            <div class="profile-description">
                <h2 class="gradient-text slide-left">I'm Samiran Sasmal</h2>
                <span id="element"></span>
            </div>
            <div class="social-links slide-right">
                <a href="https://x.com/SasmalSamiran07" class="twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100073743833052&mibextid=ZbWKwL" class="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/sasmal.samiran/?hl=en" class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://github.com/sasmal-samiran" class="github">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/samiran-sasmal-441206275/" class="linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <div class="profile-buttons">
                <div class="profile-button slide-right">
                    <div class="button-guard"></div>
                    <a href="#projects">View my works</a>
                </div>
                <div class="profile-button slide-left">
                    <div class="button-guard"></div>
                    <a href="#contact">Contact me</a>
                </div>
            </div>
            <div class="scroll-down slide-up">
                <a href="#about"><i class="fa-solid fa-arrow-down"></i></a>

            </div>
        </div>

        {% if not alreadyRegistered %}
        <div class="register-button"><a href="{{url_for('register')}}" target="_blank">Register</a></div>
        <div class="mobile-register-button"><a href="{{url_for('register')}}" target="_blank">Register</a></div>
        {% endif %}

        <section class="about-section nav-section" id="about">
            <div class="about-pic">
                <div class="inner-about-pic slide-up-right"></div>
                <img class="inner-about-pic-img slide-up-right"
                    src="{{ url_for('static', filename='images/my_pic2.png')}}" alt="my picture" loading="lazy">
            </div>
            <button class="about-pic-button">Click Me</button>
            <div class="about-description">
                <h1 class="gradient-text slide-down">Who am I</h1>
                <div class="top-about-description">
                    <p class="slide-left">&emsp;&emsp;
                        I’m a passionate Data Science student with a deep interest in Artificial Intelligence and its
                        real-world
                        applications. I'm currently developing my skills in Python, basic data analysis, and machine
                        learning.
                    </p>
                    <button type="button" class="hidden-description-button hidden-description-on fade-in">Read
                        more</button>
                    <div class="hidden-description slide-down">
                        <p>&emsp;&emsp;I’m currently focusing on strengthening my Python programming skills,
                            understanding
                            core data
                            science concepts, and working on small projects to apply what I learn. I’m also exploring
                            beginner-friendly tools and frameworks like Jupyter Notebook, Pandas, Flask, simple AI
                            models,
                            and
                            working on mini web applications.
                        </p>
                        <p>&emsp;&emsp;I also have hands-on experience with
                            frontend technologies like HTML, CSS, and JavaScript and frameworks like Bootstrap—giving me
                            a
                            well-rounded skill set to build
                            end-to-end solutions.

                        </p>
                        <button type="button" class="hidden-description-button hidden-description-off fade-in">Read
                            less</button>
                    </div>
                    <div class="quick-biodata">
                        <hr>
                        <div class="slide-up">
                            <h6>◎ Current Status</h6>
                            <p>3rd Year B.Tech Data Science Student</p>
                        </div>
                        <div class="slide-up">
                            <h6>◎ College</h6>
                            <p>Brainware University</p>
                        </div>
                        <div class="slide-up">
                            <h6>◎ Location</h6>
                            <p>Kolkata, West Bengal</p>
                        </div>
                        <div class="slide-up">
                            <h6>◎ Languages Known</h6>
                            <p>C, Python, Java, MySQL</p>
                        </div>
                        <div class="slide-up">
                            <h6>◎ Interests</h6>
                            <p>AI, Machine Learning, Data Analysis</p>
                        </div>
                        <div class="slide-up">
                            <h6>◎ Hobbies</h6>
                            <p>Coding, Blogging, Reading Tech News</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="nav-section" id="education" style="padding: 20px 0;">
            <div class="education-section">
                <h1 class="gradient-text slide-left">Education</h1>
                <div class="outer-border slide-left">
                    <div class="symbols"></div>
                    <div class="inner-border">
                        <div class="box-guard"></div>
                        <div class="inner-border-heading slide-left">
                            <img src="{{url_for('static', filename='images/bwu_logo.png')}}" alt="bwu">
                            <h2>Bachelor of Technology in CSE - Data Science</h2>
                        </div>
                        <hr>
                        <p class="fade-in"><i class="fa-solid fa-building-columns"></i>&emsp13;&emsp13;BRAINWARE
                            UNIVERSITY, Barasat</p>
                        <p class="fade-in"><i class="fa-regular fa-calendar"></i>&emsp13;&emsp13;Aug, 2023 - Present</p>
                    </div>
                    <div class="symbols"></div>
                    <div class="inner-border">
                        <div class="box-guard"></div>
                        <div class="inner-border-heading slide-left">
                            <img src="{{url_for('static', filename='images/psvm.jpg')}}" alt="psvm">
                            <h2>Higher Secondary - WBCHSE(XII)</h2>
                        </div>
                        <hr>
                        <p class="fade-in"><i class="fa-solid fa-building-columns"></i>&emsp13;&emsp13;PANCHARUL SRIHARI
                            VIDYAMANDIR, Howrah</p>
                        <p class="fade-in"><i class="fa-regular fa-calendar"></i>&emsp13;&emsp13;Jan, 2020 - Apr, 2022
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="universe">
            <section class="nav-section" id="skills" style="padding: 20px 0;">
                <div class="skills-section">
                    <h1 class="gradient-text slide-left">My Skills</h1>
                    <div class="skills-panel">
                        <div class="message-panel fade-in">
                            <div class="display">
                                <div class="front-camera"></div>
                                <div class="message-area">
                                    <div class="messages" style="z-index: -1;">Hi, I am samiran Sasmal</div>
                                    <div class="messages" style="z-index: -2;">open to invent with you</div>
                                    <div class="messages" style="z-index: -3;">let's build smart together</div>
                                    <div class="messages" style="z-index: -4;">Code, Learn, Share</div>
                                </div>
                                <div class="text-bar">
                                    <p id="text-message"></p>
                                    <div class="text-send"><i class="fa-solid fa-paper-plane"></i></div>
                                </div>
                                <div class="bottom-bar"></div>
                            </div>
                        </div>

                        <div class="skills-description">
                            <div class="skill-card glass">
                                <div class="skill-card-description">
                                    <h3 class="skill-category slide-down">Languages</h3>
                                    <hr>
                                    <ul class="skill-list">
                                        <li class="slide-up">C (Intermediate)</li>
                                        <li class="slide-up">Python (Intermediate)</li>
                                        <li class="slide-up">MySQL</li>
                                        <li class="slide-up">Java (Basics)</li>
                                        <li class="slide-up">JavaScript (Basics)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="skill-card glass">
                                <div class="skill-card-description">
                                    <h3 class="skill-category slide-down">Frameworks</h3>
                                    <hr>
                                    <ul class="skill-list">
                                        <li class="slide-up">NumPy</li>
                                        <li class="slide-up">Pandas</li>
                                        <li class="slide-up">Matplotlib</li>
                                        <li class="slide-up">Flask (Basics)</li>
                                        <li class="slide-up">Java AWT (Basics)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="skill-card glass">
                                <div class="skill-card-description">
                                    <h3 class="skill-category slide-down">Tools</h3>
                                    <hr>
                                    <ul class="skill-list">
                                        <li class="slide-up">PowerBI</li>
                                        <li class="slide-up">Bootstrap</li>
                                        <li class="slide-up">Git & GitHub</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="mobile-tech-icons">
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/c.png')}}" alt="c">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/python.png')}}" alt="python">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/java.png')}}" alt="java">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/html5.png')}}" alt="html5">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/css3.png')}}" alt="css3">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/javascript.png')}}" alt="javascript">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/mysql.png')}}" alt="mysql" style="background-color: rgba(141, 193, 238, 0.582);">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/sqlite.png')}}" alt="sqlite">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/flask.png')}}" alt="flask">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/bootstrap.png')}}" alt="bootstrap">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/oracle.png')}}" alt="oracle">
                </div>
                <div class="mobile-tech-icon fade-in">
                    <img src="{{url_for('static', filename='images/teck_stack/github.png')}}" alt="github">
                </div>
            </div>

            <section class="tech-stack-section">
                <div class="tech-stack-container fade-in">
                    <img src="{{url_for('static', filename = 'images/teck_screen.png')}}" alt="Teck Screen">

                    <div class="tech-icons">
                        <div class="tech-icon fade-in" style="--x:0; --y:4;">
                            <img src="{{url_for('static', filename='images/teck_stack/python.png')}}" alt="python">
                        </div>
                        <div class="tech-icon fade-in" style="--x:8; --y:3;">
                            <img src="{{url_for('static', filename='images/teck_stack/java.png')}}" alt="java">
                        </div>
                        <div class="tech-icon fade-in" style="--x:1; --y:1;">
                            <img src="{{url_for('static', filename='images/teck_stack/html5.png')}}" alt="html5">
                        </div>
                        <div class="tech-icon fade-in" style="--x:-1; --y:6;">
                            <img src="{{url_for('static', filename='images/teck_stack/css3.png')}}" alt="css3">
                        </div>
                        <div class="tech-icon fade-in" style="--x:10; --y:7;">
                            <img src="{{url_for('static', filename='images/teck_stack/javascript.png')}}"
                                alt="javascript">
                        </div>
                        <div class="tech-icon fade-in" style="--x:6; --y:2;">
                            <img src="{{url_for('static', filename='images/teck_stack/mysql.png')}}" alt="mysql">
                        </div>
                        <div class="tech-icon fade-in" style="--x:3; --y:2;">
                            <img src="{{url_for('static', filename='images/teck_stack/sqlite.png')}}" alt="sqlite">
                        </div>
                        <div class="tech-icon fade-in" style="--x:-2; --y:3;">
                            <img src="{{url_for('static', filename='images/teck_stack/bootstrap.png')}}"
                                alt="bootstrap">
                        </div>
                        <div class="tech-icon fade-in" style="--x:11; --y:3;">
                            <img src="{{url_for('static', filename='images/teck_stack/oracle.png')}}" alt="oracle">
                        </div>
                        <div class="tech-icon fade-in" style="--x:10; --y:1;">
                            <img src="{{url_for('static', filename='images/teck_stack/github.png')}}" alt="github">
                        </div>
                        <div class="tech-icon fade-in" style="--x:2; --y:4;">
                            <img src="{{url_for('static', filename='images/teck_stack/c.png')}}" alt="c">
                        </div>
                        <div class="tech-icon fade-in" style="--x:12; --y:5;">
                            <img src="{{url_for('static', filename='images/teck_stack/flask.png')}}" alt="flask">
                        </div>
                    </div>
                    <div class="star" style="--s:2; --x:4; --y:0; --o:4"></div>
                    <div class="star" style="--s:1; --x:5; --y:0; --o:9"></div>
                    <div class="star" style="--s:2; --x:6; --y:1; --o:5"></div>
                    <div class="star" style="--s:1; --x:8; --y:-2; --o:5"></div>
                    <div class="star" style="--s:1; --x:0; --y:3; --o:8"></div>
                    <div class="star" style="--s:1; --x:-2; --y:2; --o:5"></div>
                    <div class="star" style="--s:2; --x:-1; --y:5; --o:3"></div>
                    <div class="star" style="--s:0.5; --x:9; --y:3; --o:7"></div>
                    <div class="star" style="--s:0.5; --x:4; --y:4; --o:7"></div>
                    <div class="star" style="--s:1; --x:11; --y:2; --o:6"></div>
                    <div class="star" style="--s:2; --x:12; --y:0; --o:3"></div>
                    <div class="star" style="--s:1.5; --x:10; --y:1; --o:5"></div>
                    <div class="star" style="--s:2; --x:12.5; --y:5.5; --o:3"></div>
                    <div class="star" style="--s:1.5; --x:12.4; --y:4.9; --o:2"></div>
                    <div class="star" style="--s:2.5; --x:2; --y:0; --o:0.5"></div>
                    <div class="star" style="--s:2.5; --x:3; --y:1; --o:0.7"></div>
                    <div class="star" style="--s:2; --x:14; --y:2; --o:0.6"></div>
                    <div class="star" style="--s:1.5; --x:13; --y:1; --o:1"></div>
                    <div class="star" style="--s:3; --x:0; --y:4; --o:1"></div>
                    <div class="star" style="--s:2; --x:-1; --y:1; --o:5"></div>
                    <div class="star" style="--s:1; --x:2; --y:-1; --o:3"></div>
                    <div class="star" style="--s:2.5; --x:-3; --y:1; --o:1"></div>
                    <div class="star" style="--s:2; --x:-4; --y:3; --o:2"></div>
                    <div class="star" style="--s:2; --x:-5; --y:-2; --o:0.5"></div>
                    <div class="star" style="--s:1; --x:-6; --y:-3; --o:0.5"></div>
                    <div class="star" style="--s:1.5; --x:-3; --y:-3; --o:2"></div>
                    <div class="star" style="--s:2; --x:0; --y:-4; --o:1"></div>
                    <div class="star" style="--s:3; --x:10; --y:-4; --o:1"></div>
                    <div class="star" style="--s:12; --x:8; --y:-3; --o:0.5"></div>
                    <div class="star" style="--s:15; --x:8; --y:-5; --o:0.4"></div>
                    <div class="star" style="--s:1; --x:2; --y:-1; --o:1"></div>
                    <div class="star" style="--s:2.5; --x:-3; --y:1; --o:1"></div>
                    <div class="star" style="--s:1.5; --x:-3; --y:-3; --o:0.5"></div>
                    <div class="star" style="--s:2; --x:0; --y:-4; --o:1"></div>
                    <div class="star" style="--s:2; --x:-4; --y:-4; --o:1"></div>
                    <div class="star" style="--s:1.5; --x:3; --y:-5; --o:2"></div>
                    <div class="star" style="--s:3; --x:6; --y:-3; --o:3"></div>
                    <div class="star" style="--s:3; --x:4; --y:-2; --o:4"></div>
                    <div class="star" style="--s:2.5; --x:4; --y:-2; --o:2"></div>
                    <div class="star" style="--s:5; --x:4; --y:-2.5; --o:2"></div>
                    <div class="star" style="--s:10; --x:4; --y:-2.7; --o:1"></div>
                    <div class="star" style="--s:11; --x:3; --y:-2.97; --o:0.5"></div>
                    <div class="star" style="--s:9; --x:2; --y:-2.9; --o:1"></div>
                    <div class="star" style="--s:5; --x:1; --y:-4; --o:2"></div>
                    <div class="star" style="--s:6; --x:0; --y:-5.5; --o:3"></div>
                    <div class="star" style="--s:7; --x:0; --y:-6.5; --o:1"></div>
                    <div class="star" style="--s:8; --x:1; --y:-9.5; --o:0.5"></div>
                    <div class="star" style="--s:9; --x:-1; --y:-10.5; --o:0.4"></div>
                    <div class="star" style="--s:10; --x:7; --y:-11.5; --o:0.3"></div>
                    <div class="star" style="--s:11; --x:9; --y:-12.5; --o:1"></div>
                    <div class="star" style="--s:11; --x:9; --y:-9.5; --o:0.9"></div>
                    <div class="star" style="--s:12; --x:10; --y:-8.5; --o:0.8"></div>
                    <div class="star" style="--s:13; --x:11; --y:-15.5; --o:0.7"></div>
                    <div class="star" style="--s:20; --x:6; --y:-12.5; --o:0.5"></div>
                    <div class="star" style="--s:25; --x:10; --y:-15.5; --o:0.2"></div>
                    <div class="star" style="--s:2; --x:3; --y:-2; --o:10;"></div>

                    <div class="podium top"></div>
                    <div class="podium bottom">
                        <div class="podium-bottom-top"></div>
                        <div class="podium-bottom-circle" style="--i:1; --j:1"></div>
                        <div class="podium-bottom-circle" style="--i:1.2; --j:2"></div>
                    </div>
                </div>
            </section>

            <section class="nav-section" id="projects" style="padding: 20px 0;">
                <div class="projects-section">
                    <h1 class="gradient-text slide-left">Projects</h1>
                    <div class="projects-description">
                        <div class="project-card slide-up">
                            <div class="project-image">
                                <div class="card-image-guard-top"></div>
                                <div class="card-image-guard-bottom"></div>
                                <img class="project-card-image lazy-img" style="height: 50%;"
                                    data-src="{{url_for('static', filename='images/powerBI_dashboard.png')}}"
                                    alt="Project Screenshot" loading="lazy">
                                <img class="project-card-image lazy-img" style="height: 50%;"
                                    data-src="{{url_for('static', filename='images/powerBI_dashboard2.png')}}"
                                    alt="Project Screenshot" loading="lazy">
                                <div class="project-icons">
                                    <i class="fa-solid fa-magnifying-glass-plus magnify"></i>
                                </div>
                            </div>
                            <div class="project-content">
                                <h3 class="slide-down">Online Store Customer Insights Dashboard</h3>
                                <hr>
                                <p class="slide-left">Built using Python and Power BI</p>
                                <a href="{{ url_for('projects') }}?next={{ 'https://github.com/sasmal-samiran/Data-Analysis.git' | urlencode }}"
                                    target="_blank" class="slide-up">GitHub</a>
                            </div>
                        </div>

                        <div class="project-card slide-up">
                            <div class="project-image">
                                <div class="card-image-guard-top"></div>
                                <div class="card-image-guard-bottom"></div>
                                <img class="project-card-image lazy-img"
                                    data-src="{{url_for('static', filename='images/travelplanner.png')}}"
                                    alt="Project Screenshot" loading="lazy">
                                <div class="project-icons">
                                    <i class="fa-solid fa-magnifying-glass-plus magnify"></i>
                                </div>
                            </div>
                            <div class="project-content">
                                <h3 class="slide-down">Travel Planner</h3>
                                <hr>
                                <p class="slide-left">Built using Python and Open Source APIs</p>
                                <a href="{{ url_for('projects') }}?next={{ 'https://github.com/sasmal-samiran/javaAwt.git' | urlencode }}"
                                    target="_blank" class="slide-up">GitHub</a>&emsp;|&emsp; 
                                <a href="{{url_for('travelplanner.home')}}">Live Demo</a>
                            </div>
                        </div>

                        <div class="project-card slide-up">
                            <div class="project-image">
                                <div class="card-image-guard-top"></div>
                                <div class="card-image-guard-bottom"></div>
                                <img class="project-card-image lazy-img"
                                    data-src="{{url_for('static', filename='images/youtube_clone.png')}}"
                                    alt="Project Screenshot" loading="lazy">
                                <div class="project-icons">
                                    <i class="fa-solid fa-magnifying-glass-plus magnify"></i>
                                </div>
                            </div>
                            <div class="project-content">
                                <h3 class="slide-down">YouTube Clone</h3>
                                <hr>
                                <p class="slide-left">Built using HTML, CSS, JavaScript and Python</p>
                                <a href="{{ url_for('projects') }}" target="_blank" class="slide-up">GitHub</a>
                            </div>
                        </div>

                        <div class="magnify-page">
                            <div class="magnify-image"></div>
                            <div class="close-image"><i class="fa-solid fa-magnifying-glass-minus"></i></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="nav-section" id="resume">
            <div class="resume-section fade-in">
                <div class="resume-heading">
                    <h1 class="slide-left">&emsp14;Resume&emsp14;</h1>
                </div>
                <div class="resume-description">
                    <a class="resume-image"
                        href="https://www.canva.com/design/DAGipxqqBzI/ZvhUtReTH3-wzkbNvmgAJw/view?utm_content=DAGipxqqBzI&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h37520911da"
                        target="_blank"></a>
                    <a class="download-resume slide-up"
                        href="{{ url_for('static', filename='docs/samiran_resume.pdf') }}"
                        download="samiran_resume.pdf">Download Resume</a>
                </div>
            </div>
        </section>

        <section class="hire-me">
            <div>
                <h1 class="slide-left">"Turning ideas into interactive experiences. Where code meets cognition."</h1>
                <h5 class="slide-left">Looking forward to meaningful collaborations that drive innovation and growth.
                </h5>
            </div>
            <a href="#contact" class="hire-button slide-up">Hire Me</a>
        </section>

        <section class="nav-section" id="contact" style="padding: 20px 0;">
            <div class="contact-section">
                <h1 class="gradient-text">Contact</h1>

                <div class="contact-credentials glass">
                    <div class="address-map slide-up">
                        <iframe class="zoom-in"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1945.3640717527408!2d88.49753714193756!3d22.731938996492755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f8a23faf6ebbc3%3A0x87a1be2b67cde60b!2sBrainware%20University%20Gate!5e1!3m2!1sen!2sin!4v1746171535196!5m2!1sen!2sin"
                            allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <div class="round-bar fade-in">
                            <div class="floating-message">
                                <p>Message Me</p>
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <div class="round-background"></div>
                            <div class="round-border"></div>
                        </div>
                    </div>
                    <div class="contact-description">
                        <div class="contact-details fade-in">
                            <div class="contact-shadow"></div>
                            <div class="contact-element glass">
                                <span><i class="fa-solid fa-location-dot"></i></span>
                                <span>
                                    <p>Address</p>
                                    <p>Barasat, North 24 Parganas, 700124</p>
                                </span>
                            </div>
                            <div class="contact-element glass">
                                <span><i class="fa-solid fa-phone"></i></span>
                                <span>
                                    <p>Call Me</p>
                                    <p>8710066414</p>
                                </span>
                            </div>
                            <div class="contact-element glass">
                                <span><i class="fa-solid fa-envelope"></i></span>
                                <span>
                                    <p>Email Me</p>
                                    <p>sasmalsamiran7557@gmail.com</p>
                                </span>
                            </div>
                        </div>
                        <form class="contact-form steal-border slide-up" action="sendemail" method="post">
                            <div class="input-fields">
                                <input type="text" placeholder="Name" name="username" required>
                                <input type="email" placeholder="Email" name="useremail" required>
                                <select name="profession" required>
                                    <option value="Not Selected" selected>Select Your Profession</option>
                                    <option value="Student">Student</option>
                                    <option value="Developer">Developer</option>
                                    <option value="Industry Expert">Industry Expert</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <textarea name="usermessage" placeholder="Your Message (Atleast 50 letters)" rows="5"
                                required></textarea>
                            <button>Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer fade-in">
            <div class="top-footer">
                <div class="left-footer">
                    <div class="footer-name"><span>S</span>amiran Sasmal</div>
                    <div class="footer-social-links">
                        <a href="https://x.com/SasmalSamiran07" class="twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100073743833052&mibextid=ZbWKwL"
                            class="facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/sasmal.samiran/?hl=en" class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://github.com/sasmal-samiran" class="github">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/samiran-sasmal-441206275/" class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <p>Aspiring Data Scientist</p>
                </div>
                <div class="right-footer">
                    <p>Quick Links</p>
                    <a href="#home">Home</a>
                    <a href="#about">About Me</a>
                    <a href="#education">Education</a>
                    <a href="#skills">Skills</a>
                    <a href="#projects">Projects</a>
                    <a href="#resume">Resume</a>
                    <a href="#contact">Contact Me</a>
                </div>

            </div>
            <div style="border-top: 0.5px solid rgba(174, 171, 171, 0.575); width: 90%;">
                <div class="bottom-footer">
                    <p>© Samiran Sasmal. All rights reserved.</p>
                    <p>Designed & built With ❤️</p>
                </div>
        </section>
    </div>
</div>

{% endblock content %}

{% block inlinejs %}
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#element', {
        strings: ['3rd year student of Computer science and engineering', 'Pursuing B.Tech from Brainware University', 'Passionate about machine learning and data analytics', 'and solving real-world problems'],
        typeSpeed: 40,
        backSpeed: 5,
        backDelay: 1000,
        loop: true,
        cursorChar: '🖋',
    });

</script>
{% endblock inlinejs %}